/* .App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@media screen and (min-width:500px){
  .container{
    
      margin: 5% 7% 5% 7%;
  }
  .main-container{
      display: flex;
      flex-direction: row; 
      align-items: center; 
      justify-content: space-between;
  } 
  .logo{ 
      display: flex;
      flex: 7; 
      text-align: left;
      font-family: sans-serif,Arial;
      font-size: 15px;
      font-weight: bold;
  }
  .searchbox{
      display: flex;
      flex: 0;
      justify-content: space-around; 
      /* align-items: right;  */
  }
  .mem{
      display: flex;
      flex: 2; 
      justify-content: space-around; 
      font-family: sans-serif,Arial;
      font-size: 18px;
      height: 30px;
  }
  .mem>a{
      color:  rgb(48, 51, 48);
      text-decoration: none;
  }
  .login-form{
      display: flex;
      flex: 2;
      justify-content: space-around; 
      font-family: sans-serif,Arial;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: -0.05em;
      /* height: 30px; */
  }
  .login-form>a{
      color: rgb(106, 185, 103);
      text-decoration: none;
  }
  .rect{
      border: 2px solid rgb(106, 185, 103);
      padding: 4px 4px;
      border-radius: 6%;
  }
  .tags{
      
      display: flex;
      flex-direction: row;
  }
  .tags>a{
      color: rgb(63, 61, 61);
      text-decoration: none;
      padding: 4px;
      /* margin: 42px; */
  }
  .home{
    color: rgb(202, 22, 22);
  }
  .container2{
      width: auto;
      margin: auto;
      margin: 5% 5%;
  }
  .para{
      margin-top: 50px;
  }
  .mainb{
      font-size: 16px;
  }
  .b1{
      color: rgb(95, 92, 92);
      letter-spacing: -0.0001em;
      font-size: 20px;
  }
  .auth{
      color: rgb(48, 46, 46);
      letter-spacing: -0.001em;
      font-size: 20px;
  }
  .pub{
      color: rgb(95, 92, 92);
      letter-spacing: -0.0001em;
      font-size: 20px;
  }
  .new{
      display: flex;
      flex-direction: row;
  }
  .pub{
      display: flex;
      flex: 4;
  }
  .resp>i {
      font-size: 24px;
      color: rgb(48, 46, 46);
  }
  .tags a:hover {
      color: rgba(10, 10, 10, 0.986);
      text-decoration-line: underline;
    }
}

@media screen and (max-width:500px){
  .container{
     margin: 5% 2% 5% 2%;
  }
  .logo{
     display: none;
  }
  .searchbox{
      display: none;
  }
  .mem{
     display: none;
  }
  .login-form{
     display: none;
  }
  .login-form>a{
    color: rgb(106, 185, 103);
    text-decoration: none;
}
.rect{
    border: 2px solid rgb(106, 185, 103);
    padding: 4px 4px;
    border-radius: 6%;
}
  .tags{
      margin-top: 5%;
      display: flex;
      flex-direction: row;
      font-size: 87%;
  }
  .tags>a{
      color: rgb(15, 13, 13);
      text-decoration: none;
      padding: 4px;
  }
  .t1:link{
      display: none;
  }
  .container2{
      width: auto;
      margin: auto;
  }
  .para{
      margin-top: 50px;
  }
  .mainb{
      font-size: 10px;
  }
  .b1{
      color: rgb(95, 92, 92);
      letter-spacing: -0.0001em;
      font-size: 20px;
  }
  .auth{
      color: rgb(48, 46, 46);
      letter-spacing: -0.001em;
      font-size: 20px;
  }
  .pub{
      color: rgb(95, 92, 92);
      letter-spacing: -0.0001em;
      font-size: 20px;
  }
  .new{
      display: flex;
      flex-direction: row;
  }
  .pub{
      display: flex;
      flex: 4;
  }
  .tags a:hover {
      color: rgba(10, 10, 10, 0.986);
      text-decoration-line: underline;
  }
}
